@tailwind base;
@tailwind components;
@tailwind utilities;
/* 
@font-face{
  font-family:"DIN Medium";
  src:url("/fonts/medium/din-medium.eot?#iefix");
  src:url("/fonts/medium/din-medium.eot?#iefix") format("eot"),url("/fonts/medium/din-medium.woff2") format("woff2"),url("/fonts/medium/din-medium.ttf") format("truetype"),url("/fonts/medium/din-medium.svg#/fonts/medium/din-medium") format("svg");
} */

@font-face {
  font-family: "DIN Medium";
  src: url("/fonts/medium/din-medium.ttf") format("truetype");
}

:root {
  --gray: #767676;
  --white: #ffffff;
  --black: #000000;
  --is-blue: #164196;
  --is-red: #e30613;
  --is-red-dark: #b90511;
}

/* Base */
html {
  overflow: hidden;
}

body {
  touch-action: none;
}

.is-background {
  position: fixed;
  opacity: 0.9;
  inset: 0;
  z-index: -8888;
  background: rgb(240, 240, 240);
  background: -moz-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(215, 215, 215, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(215, 215, 215, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(215, 215, 215, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fafafa",endColorstr="#afafaf",GradientType=1);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 600;
  text-transform: uppercase;
}

h1 {
  font-size: 2.25rem /* 36px */;
  line-height: 2.5rem /* 40px */;
}

h2 {
  font-size: 1.875rem /* 36px */;
  line-height: 1.875rem /* 40px */;
}

.is-bold {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 3.4rem;
  box-sizing: border-box;
}

.is-bold > span {
  background-color: var(--is-red);
  color: var(--white);
  padding-inline: calc(1ch / 2);
  box-decoration-break: clone;
  box-sizing: border-box;
}

.is-bold > span.red {
  background-color: var(--is-red);
  color: var(--white);
}

.is-bold > span.blue {
  background-color: var(--is-blue);
  color: var(--white);
}

.red-bold > span {
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--is-red);
  color: var(--white);
  padding-inline: calc(1ch / 2);
  box-decoration-break: clone;
  box-sizing: border-box;
}

.blue-bold > span {
  text-transform: uppercase;
  font-weight: 700;
  background-color: var(--is-blue);
  color: var(--white);
  padding-bottom: 3px;
  padding-inline: calc(1ch / 2);
  box-decoration-break: clone;
  box-sizing: border-box;
}

/* Layouts */
.menu-layout {
  display: grid;
  grid-template-rows: 1fr auto;
  height: 100vh;
}

.menu-layout main {
  overflow-y: scroll;
  padding-inline: 2%;
  padding-top: 1rem;
  height: 100%;
}

.menu-layout__content {
  display: grid;
  justify-items: center;
  gap: 1rem;
  max-width: 500px;
  margin-inline: auto;
}

.menu-title {
  box-sizing: border-box;
  font-size: 3rem;
  line-height: 4.5rem;
}

.menu__konkurrencebetingelser {
  font-size: 1rem !important;
}

@media only screen and (min-width: 480px) {
  .menu-title {
    box-sizing: border-box;
    font-size: 3.5rem;
    line-height: 5.3rem;
  }
} 

.menu-layout footer {
  max-height: 100px;
  height: 100%;
  background-color: white;
  display: grid;
  place-items: center;
  padding: 1rem 0.75rem;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.menu-layout footer img {
  object-fit: cover;
  max-width: 500px;
  height: 100%;
}

/* RAM Menu */
.menu__main-prize {
  max-width: 750px;
  width: 100%;
  margin-bottom: 1rem;
}

.menu__prizes-info {
  display: grid;
  gap: 0.18rem;
  margin-bottom: 4rem;
}

.menu__prizes-info h2 {
  font-weight: 700;
  font-size: 1.5rem;
}


.menu__prizes-info ol {
  list-style: decimal;
  list-style-position: inside;
  display: grid;
  gap: 0.18rem;
}

.menu__prizes-info ol li {
  font-size: 1.2rem;
}

@media only screen and (min-width: 480px) {
  .menu__prizes-info h2 {
    font-weight: 700;
    font-size: 1.6rem;
  }

  .menu__prizes-info ol li {
    font-size: 1.4rem;
  }
} 

/* Highscore list */
.highscore-list {
  display: grid;
  gap: 0.25rem;
  width: 100%;
}

.highscore-list__item {
  display: flex;
  padding: 0.5rem;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  gap: 4rem;
  position: relative;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  background-color: #ebebeb;
  width: 100%;
}

/* Balloon */
.balloon-container {
  position: relative;
  height: 100vh;
}

.balloon {
  display: flex;
  position: absolute;
  width: 140px;
  aspect-ratio: 1 / 1;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: pointer;
  left: var(--left);
  transform: translateX(-50%);
  /* Prevent text selection */
  user-select: none;

  /* Remove tap highlighting */
  -webkit-tap-highlight-color: transparent; /* For Webkit-based browsers like Safari */
  tap-highlight-color: transparent; /* For other browsers */
}

.balloon-slow-1 {
  animation: RamMoveBalloon 4s linear;
}

.balloon-slow-2 {
  animation: RamMoveBalloon 3.5s linear;
}

.balloon-medium-1 {
  animation: RamMoveBalloon 2.5s linear;
}

.balloon-medium-2 {
  animation: RamMoveBalloon 2s linear;
}

.balloon-fast-1 {
  animation: RamMoveBalloon 1.5s linear;
}

.balloon-fast-2 {
  animation: RamMoveBalloon 1.3s linear;
}

@media only screen and (min-width: 400px) {
  .balloon {
    width: 180px;
  }
} 

@media only screen and (min-width: 600px) {
  .balloon {
    width: 220px;
  }
} 

@media only screen and (min-width: 800px) {
  .balloon {
    width: 240px;
  }
} 

.balloon img {
  position: absolute;
  top: 50%;
  scale: 3;
  pointer-events: none;
}

@keyframes RamMoveBalloon {
  0% {
    top: 100%;
  }
  100% {
    top: -100%;
  }
}

/* Modal */
.backdrop {
  position: fixed;
  inset: 0;
  z-index: 9999;
  display: grid;
  place-items: center;
  background: #000000ca;
}

.backdrop .backdrop__button {
  position: fixed;
  inset: 0;
  width: 100%;
  z-index: -10;
}

.modal {
  display: flex;
  background: white;
  align-items: center;
  padding: 1rem;
  border-radius: 3px;
  flex-direction: column;
  gap: 1rem;
  width: 80vw;
  max-width: 450px;
  max-height: 100vh;
  overflow-y: scroll;
}

.modal__logo {
  margin-bottom: 0.5rem;
}

/* form */
form {
  display: grid;
  gap: 0.5rem;
  width: 100%;
}

form label {
  display: grid;
}

form input {
  background: #ebebeb;
  border-radius: 5px;
  padding: 0.25rem 0.5rem;
}

form .error {
  color: red;
}

/* Buttons */
.button {
  color: var(--white);
  padding: 8px 32px;
  gap: 16px;
  border-radius: 5px;
  background: var(--gray);
  color: #fff;
  font-size: 1.25rem;
  font-weight: 700;
  width: 100%;
  max-width: max-content;
  border-radius: 50px;
}

.button.primary {
  color: var(--white);
  padding: 12px 40px;
  gap: 16px;
  background: var(--is-red);
  font-size: 1.75rem;
}

.button.primary:hover {
  background: var(--is-red-dark);
}

.button.text {
  background: none;
  color: var(--gray);
  font-weight: 600;
}

.button.full {
  max-width: 100%;
}

.button-group {
  display: grid;
  place-items: center;
  gap: 0.5rem;
}

.ram {
}

.ram__hud {
  position: fixed;
  top: 1.25rem;
  font-size: 2rem;
  font-weight: 700;
  z-index: 8888;
  color: var(--white);
}

.ram__time {
  left: 1.25rem;
}

.ram__score {
  right: 1.25rem;
}

.countdown-container {
  position: fixed;
  top: 50%; /* Center vertically */
  left: 50%; /* Center horizontally */
  transform: translate(
    -50%,
    -50%
  ); /* Center the element based on its own dimensions */
  font-size: 6rem;
}

.ram__sign-in__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 2rem;
}

.ram__sign-in__info p {
  max-width: 300px;
}

/* Menu */
.ram-menu__logo {
  max-width: 350px;
  margin-top: 48px;
}

.ram-menu__signed-in-info {
  text-align: center;
  display: grid;
  gap: 1rem;
}

.ram-menu__signed-in-info__hello {
  font-size: 1.5rem;
  font-weight: 700;
}

.ram-menu__signed-in-info__scores {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  align-self: stretch;
  gap: 1rem;
}

.background {
  position: absolute;
  inset: 0;
  background: rgb(240, 240, 240);
  background: -moz-radial-gradient(
    circle,
    rgba(240, 240, 240, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(175, 175, 175, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(240, 240, 240, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(175, 175, 175, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(240, 240, 240, 1) 0%,
    rgba(255, 255, 255, 1) 0%,
    rgba(175, 175, 175, 1) 100%
  );
}

.background img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.score-box-alt {
  display: grid;
}

.score-box-alt__title {
  color: var(--gray, #767676);
  font-size: 12px;
  font-weight: 700;
}

.score-box-alt__score {
  color: #000;
  font-size: 24px;
  font-weight: 700;
}

.score-box {
  display: grid;
  gap: 0.25rem;
  margin-bottom: 0.75rem;
}

/* Utilities */
.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* More ram */
.end-screen__title {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-width: 500px;
}
